
<!-- NOT APPLIED TO CODE -->


  @for (u of users(); track u.id){ <!-- need to remove for loop; only displaying 1 user -->
    <h1>Welcome, {{u.nameFirst}} {{u.nameLast}}</h1>

    <p>Name: {{u.nameFirst}} {{u.nameLast}}</p>

    <button (click)="displayMasteredComponent()">{{masteredBtnText}}</button>
    <button (click)="displayUnMasteredComponent()">{{unMasteredBtnText}}</button>
    <button (click)="displayExercises()">{{btnText}}</button>
    <button (click)="displayTechniques()">{{techBtnText}}</button>

    <!-- components go here -->
    @if (displayMasteredComp){
      <app-mastered></app-mastered>
    }
    @if (displayUnMasteredComp){
      <app-unmastered></app-unmastered>
    }
    @if(displayEx) {
     <app-exercises></app-exercises>
     <hr>
    }
    @if(displayTech) {
      <app-whole-card></app-whole-card>
     }

  }



