

@if (!userLoggedIn){
  <h1>Log In</h1>

  <form #form name="form" (submit)="selectUserHandler(form, userIdInput.value, passwordInput.value)">
    <label for="userIdInput">User Id: </label>
      <input #userIdInput type="text" name="userIdInput" placeholder="Enter your user id">
    <label  for="passwordInput">Password: </label>
      <input #passwordInput type="text" name="passwordInput" placeholder="Enter your password">
    <button type="submit">Submit</button>
  </form>

} @else if (userLoggedIn){

  <button (click)="logOutHandler()">Log Out</button>

  @for (u of users(); track u.id){ <!-- need to remove for loop; only displaying 1 user -->
    <h1>Welcome, {{u.nameFirst}} {{u.nameLast}}</h1>

    <p>Name: {{u.nameFirst}} {{u.nameLast}}</p>
    <p>Mastered Techniques: {{u.userMastered}}</p>
    <p>Remaining Techniques to master: {{u.userNotMastered}}</p>

    <button (click)="displayExercises()">{{btnText}}</button>
    <button (click)="displayTechniques()">{{techBtnText}}</button>

    <!-- components go here -->
    @if(displayEx) {
     <app-exercises></app-exercises>
     <hr>
    }
    @if(displayTech) {
      <app-whole-card></app-whole-card>
     }

  }
  
}


<hr>

