@for (technique of techniques(); track technique.id) {
  <div class="technique-container">
    <h3>{{technique.title}}</h3>
      <p>The {{technique.title}} is a {{technique.belt}} Belt technique</p>
      <h4>Technique Execution</h4>
        <p>{{technique.description}}</p>
        <div class="execution-container">
          @for (e of technique.execution; track e) {
            <li> {{e}} </li>
        }
        </div>
      <h4>Pro-tip:</h4>
        <p>{{technique.proTip}}</p>
      <!-- <iframe [src]="technique.video" ></iframe> -->
      <h4>Mastered?</h4>
      @if (!technique.mastered){
        <p>You have not mastered the {{technique.title}}</p>
      } @else {
        <p>You have mastered {{technique.title}}</p>
      }
      <button (click)="toggleMastered(technique.mastered)">Toggle Mastered</button>
  </div>
}

<a href="#">Back to Top</a>


